{%extends 'all-content/base.html'%}

<h1 text-align:center> Welcome </h1>
{% load bootstrap3 %}
{% load static%}


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    {% include "navbar.html" %}

    {% block content %} 
    <div class="container">

        
        <hr>
        <h1 style="color:purple;" class="page-title">Tuesday:Lesson 2 > Python</h1>
        <br>
        <div class="parts">
            <img src="https://image.shutterstock.com/image-vector/illustration-computer-monitor-holding-cpu-260nw-82095055.jpg" height="200" width="200">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDyw8Sw7RkF5G-orpRB36XLj6mQpuYlYFtS_5yf2s2nw-L0tll" height="200" width="200">
        </div>
        <br>
        <h2>
        <span style="color:blueviolet;" >Python</span>
        </h2>
        <br>
        <h3>
        <span style="color:darkslategrey;" >What is Python?</span>
        </h3>
        <br>
        <p>
        <span>Python is a Computer Programming Language</span>
        </p>
        <div style="background-color:lightskyblue;" class="jumbotron">
            <div class="row">
                <div class="column">
                    <!-- <img src="#" height="199" width="200"><br> <p style="color:blueviolet;padding-left:80px;"></p> -->
                </div>
            </div>
            
        </div> 
    </div> 
    <!-- <div style="margin-left:1298px;">
        <a href="https://repl.it/languages/python3">Write and Run your Code here</a>
    </div> -->
    <hr>
    <center style="background-color:lightskyblue; ">
        <a href="{%url 'index'%}" class="previous round">Previous</a>
        <a sytle="padding:50px;" href="#" class="next round">Next</a>
    </center>



    {%endblock%}
    

    {% block scripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>