<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class='bar'>
    <nav style="background-color:white;"class="navbar navbar-inverse">
    <div style="background-color:white;" class="container-fluid">
        <div style="background-color:white;" class="navbar-header">
            <a style="background-color:lightskyblue; color:blueviolet;" class="navbar-brand" href="{% url 'juniordevapToday' %}">Umwana Programming > Monday: Content</a>
        </div>
    </div>
    </nav>
</div>
</body>
</html>