{%extends 'registration/base.html'%}
{% block content %} 

<body>
  <h1><center>HEALTH CARE INVOICE APPLICATION</center></h1><br><br>
  
  <div class="container">
    <div class="row">
        <div class="col-md-4">
          <p class='text-center'><a href="{%url 'hcpost_info'%}" class="btn btn-primary ">HEALTH POST INFORMATION</a></p>
        </div>
        <div class="col-md-4">
          <p class='text-center'><a href="{%url 'patient_info'%}" class="btn btn-primary ">PATIENT INFORMATION</a></p>
        </div>
        <div class="col-md-4">
          <p class='text-center'><a href="{%url 'service_details'%}" class="btn btn-primary ">DETAILS OF MEDICAL CARE RECEIVED</a></p>
        </div>
      </div>
  </div>
</body>

{% endblock %}
